[2019-04-03 10:33] JoonghyunCho opened #2 "Error popup when launching Wearable Emulator"
### Description
The error popup shows after starting Tizen 4.0 Wearable Emulator.
It says "Extra package installation is failed. sap must be installed MANUALLY!".
![image](https://user-images.githubusercontent.com/14328614/55471277-57a97900-5644-11e9-8dd4-55727829680c.png)

### Cause
The popup shows since I have installed  `Samsung Wearable Extension`.
![image](https://user-images.githubuserconten

[2019-04-03 11:01] rookiejava commented on #2
@sangwook96-lee PTAL

[2019-04-15 08:28] winstone77 commented on #2
This issue might be caused by failure of sap related package installation.
Sap related RPMs should be installed on first wearable emulator launching after installation of wearable extension.
But when we check the emulator log, some rpm installation was failed.
We are checking this issue with wearable extension developers and will update it soon.

[2019-04-16 10:55] dangvonhatquang59qtdllh opened #4 "Can help us update Visual Studio Tools for Tizen in Visual Studio 2019"
Dear Developer Tizen Team,
Can help us update Visual Studio Tools For Tizen with Visual Studio version 2019 in Visual Studio Extension Marketplace.
Thank Team!

[2019-04-16 22:54] rookiejava commented on #4
We have internally prepared support for VS2019 and are in the process of validating it for public release. I will notify you when it is completed. Thank you for your interest. :)

[2019-04-30 04:45] rookiejava commented on #4
Visual Studio Toos for Tizen is now available on Visual Studio 2019. You can install it from your Visual Studio  2019 as below.

1. Go to `Extensions` and choose `Manage Extenstions`
2. Search `Tizen`
3. Install the `Visual Studio Tools for Tizen` (version 2.5.0.0 or higher)

![vstizen_2019](https://user-images.githubusercontent.com/1029134/56941244-432aa480-6b4e-11e9-931c-3efc9945fe1e.png)

[2019-04-30 04:45] #4 closed

[2019-05-22 05:13] rookiejava commented on #2
@winstone77 any updates on this?

[2019-07-17 04:57] winstone77 commented on #2
This issue has fixed in latest samsung wearable extension (v1.4.1).
You can verify it with update of tizen-studio and extra packages.

[2019-07-22 04:24] #2 closed

[2019-07-23 04:32] JoonghyunCho opened #26 "Setting up Tizen environment Issue"
**Describe the bug**
This issue is reported by @jfversluis.
[log.txt](https://github.com/Samsung/Tizen.NET/files/3420201/log.txt)

In VS Code it’s stuck on
![image](https://user-images.githubusercontent.com/14328614/61682579-2c5ead00-ad4d-11e9-86b5-ba7d120eb89a.png)
And when I try to run Tizen Studio I set a folder for the workspace but then it crashes. The log is attached.

[2019-07-24 02:18] JoonghyunCho commented on #26
@(sec)manish-r
This could be due to Improper JDK Installation as from the logs it can be see as the classes are not found.
Request to refer to https://developer.tizen.org/ko/development/articles/openjdk-10-and-openjfx-installation-guide?langredirect=1 guide for installation of JDK 10 on Mac.

Note:
- The OpenJDK (Java 10)  and OracleJDK (Java 8) version is very important because tizen sdk doesn't

[2019-07-29 02:09] JoonghyunCho opened #28 "Downloading baseline SDK fails"
This issue is reported through email.

[2019-07-30 07:06] JoonghyunCho commented on #28
Fixed on 29-Jul-2019. The broken installer for Windows 64 is re-uploaded.

[2019-07-30 07:06] #28 closed

[2019-07-31 06:03] xbldx opened #30 "Cannot install Tizen SDK on Visual Studio 2019"
For using a Tizen on Visual Studio 2019, users should install Tizen SDK.

But when I click a "Install new Tizen SDK" button in following window,
![image](https://user-images.githubusercontent.com/31120300/62188182-9a871d80-b3a6-11e9-9e54-2c882ac410d5.png)

a following error is occured and Tizen SDK is not installed.

Installer integrity check has failed. Common causes include incomplete download a

[2019-08-01 05:30] JoonghyunCho opened #32 "connect-tv-to-the-visual-studio"
Following issue is reported by email.

He performed all steps on [connect-tv-to-the-visual-studio](https://samsung.github.io/Tizen.NET/smart%20tvs/Connecting-TV-and-VisualStudio/#connect-tv-to-the-visual-studio), and arrived at "Now you can launch application on the TV directly from Visual Studio” but received two errors.

1
In output window (compile)
Starting: "..TizenSDK\tools\sdb.exe"  -s 172.1

[2019-08-01 06:13] JoonghyunCho commented on #30
Fixed on 29-Jul-2019.
The installer for Windows 64 has been broken for a few days, but now it is re-uploaded.
Please try again.

[2019-08-01 06:13] #30 closed

[2019-08-06 12:10] JoonghyunCho commented on #32
Debug run on 4.0 product TV is not supported due to the security policy.

[2019-08-06 12:10] #32 closed

[2019-08-12 11:52] JoonghyunCho commented on #26
@jfversluis, I was told that the lastest VS Code release was before OpenJDK support...so I have raised an issue a few days ago. Sorry for the issue.

[2019-08-12 12:07] jfversluis commented on #26
No problem! I just got another email that looks promising as well, so I will check that out too :)

[2019-08-12 12:37] rookiejava commented on #26
/cc @winstone77 PTAL

[2019-08-13 10:41] JoonghyunCho commented on #26
@jfversluis, I thought now you have a problem with connection between VS Code and Tizen environment in OpenJDK base. Are also you unable to start Tizen tools like Package Manager, Emulator Manager and etc?

[2019-08-13 13:58] jfversluis commented on #26
As it turns out I am able to start the Package Manager and Tizen Studio etc. so yes, it just seems to be the connection between Tizen and VS Code for now.

[2019-08-14 02:11] winstone77 commented on #26
@jfversluis,
It seems that the install java version is 12.0.1.
Sorry, current Tizen Studio and VS Code  are not able to support this java version.
We have a plan to support this java version by end of October.
Thus, Could you install recommended Java version (Oracle JDK8 or OpenJDK 10)?

[2019-08-14 06:29] JoonghyunCho commented on #26
@jfversluis , Yes, like I mentioned on the earlier comment, it seems VS Code is not recognizing the OpenJDK environment.
And you would be OK with VS for Mac extension for Tizen? Have you tried?

[2019-08-14 07:19] jfversluis commented on #26
@winstone77 I think I tried that, but I probably did something wrong :)

@JoonghyunCho I would definitely be OK with that! I tried it and it seems to work, didn't run an actual Tizen app yet, but all other things seem to work. I could install the emulator and run the package manager etc. so I will check that out for now.

[2019-08-26 02:02] JoonghyunCho commented on #26
@jfversluis , and for VS Code, I was told that there is no plan to release the next version of Tizen extension at the moment. Therefore, the solution for this original issue at the moment is using jdk 8 version (not OpenJDK 10 version).

[2019-08-26 02:02] #26 closed

[2019-12-03 08:46] thanhlv93 opened #44 "Error popup when launching Wearable Emulator"
**Describe the bug**
After installed
Samsung Wearable Extension : 1.4.1
Samsung Certificate Extension  : 2.0.41
I start wearable emulator I got  an error :

![Screenshot from 2019-12-03 15-40-29](https://user-images.githubusercontent.com/5988002/70034155-52da0200-15e3-11ea-930b-f40582465463.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Install Samsung Wearable Extension v1.4.1

[2019-12-06 04:14] JoonghyunCho commented on #44
Hello @thanhlv93 !
I reported your issue and got the following steps to resolve the issue.
Please try the below steps to see if it resolves your issue,

  1. Run the package manager and remove the `Samsung Wearable Extension` under Extension SDK tab.
  2. Check the below directory. (It should not exist ! because you have removed it)
      tizen-studio/platforms/tizen-4.0/wearable/emulator-images/a

[2019-12-06 04:16] suntzu195 commented on #44
@JoonghyunCho  Thanks for your answer but I it's still error with wearable os 4.0 . I installed extension and connected to real phone with wearable os 3.0 .

[2019-12-06 04:17] thanhlv93 commented on #44
@JoonghyunCho Thanks for your answer but I it's still error with wearable os 4.0 . I installed extension and connected to real phone with wearable os 3.0 .

[2019-12-06 04:21] JoonghyunCho commented on #44
@thanhlv93 @suntzu195, and just so you know, this error only affects to SAP feature. You can still use all other features on emulator.
oh ok, I will ask again. What exactly do you mean by that you connected to real phone with wearable os 3.0 ?

[2019-12-06 04:22] thanhlv93 commented on #44
it's I can test my application with wearable os 3.0 after connected.

[2019-12-06 05:24] JoonghyunCho commented on #44
@thanhlv93 oh ok that's cool :) I will update about the error soon.

[2020-01-02 16:41] EmilAlipiev opened #48 "Check certificate error [-12] failed"
I created a new samsung certificate and using this certificate I could debug on my Active watch.
Then i unchecked the setting under Tools->Options->Tizen->Certification

![image](https://user-images.githubusercontent.com/10422347/71679080-066f1700-2d87-11ea-98b2-712f842f748a.png)

I debugged on emulator without certificate. I came back to that option and check the option again as in the image usin

[2020-01-03 01:32] EmilAlipiev opened #49 "SvgCachedImage does it work?"
I followed the [docu](https://samsung.github.io/Tizen.NET/tizen.net/Image-caching-with-FFImageloading/#features-support-on-tizen) and it claims that svg support is working for Tizen,
But i cant make it work it. I tried using embedded image and under res folder as below but doesnt work at all for me. I am on tizen 4.0.

I added line

[code]

[code]

[code]

[2020-01-03 01:51] myroot commented on #49
Could you tell me your test environment more details?
I now test on Tizen 5.5 emulator and it is working well

https://gist.github.com/myroot/bb8cd40888ad95b31025957d6335d774

[2020-01-03 03:12] EmilAlipiev commented on #49
I tested on active watch with tizen 4. Did you try on xaml as well? I am also on xf 4.3 but i think it should be also working. Otherwise tomorrow I will try to create a repro

[2020-01-03 03:32] myroot commented on #49
Yes, it is also working on xaml. Could you share your all source code? including svg image resource?

[2020-01-03 04:33] rookiejava commented on #48
/cc @sangwook96-lee, @winstone77 PTAL

[2020-01-06 10:25] sangwook96-lee commented on #48
Hi,
Thanks for asking it to us here.
In order to help you, we need to get more log information.
In the same your situation, Could you share your logs after changing the below values?

Tools->Options->Projects and Solutions->Build and Run
1. MSBuild project build output
Detailed
2. MSBuild project build log file
Detailed

[2020-01-18 13:23] EmilAlipiev commented on #49
sorry for late reply. here is the repro attached. I still cannot make it work with svg
[SvgTest.zip](https://github.com/Samsung/Tizen.NET/files/4080732/SvgTest.zip)

[2020-01-18 15:34] EmilAlipiev opened #53 "Visual Studio 2019 hangs on first install in debug mode on Wearable"
I am not sure if that is related VS or Tizen but when you create a new app and try to debug on VS 2019, It hangs VS 2019 and newer releases. I have to always kill the process.
But when I choose 1st Start without debugging, it installs fine into my galaxy watch and later I can choose debug without any issue.
So problem is only with first debugging.

[2020-01-20 01:47] JoonghyunCho commented on #53
@sangwook96-lee, @winstone77, Please take a look at this issue.

[2020-01-20 09:03] EmilAlipiev commented on #53
Just to make it clear it only occurs for debugging device not emulator.

[2020-01-20 21:20] EmilAlipiev commented on #2
how is it fixed on   samsung wearable extension (v1.4.1)? I am having it but i still get this error. what is the proper solution here please?

[2020-01-21 01:36] myroot commented on #49
The attached project was working on my emulator and target

emulator information
[code]

target information
[code]

![image](https://user-images.githubusercontent.com/1029155/72768061-6bf14d80-3c39-11ea-8de6-91f2c56a4992.png)

[2020-01-21 10:04] myroot commented on #49
I also test real device with galaxy watch and it is working well
[code]

Could you show your device software version?

[2020-01-21 12:26] EmilAlipiev commented on #49
tizen 4.0.0.7
one ui version 1.5
i am not sure how to get the build id if it is important?

[2020-01-21 23:32] myroot commented on #49
I also check on galaxy watch active real target and it is working well
Could you provide any logs or another information?

[2020-01-30 05:01] JoonghyunCho commented on #49
@EmilAlipiev You can check out the logs with the following command in shell.
[code]

[2020-01-30 15:04] EmilAlipiev opened #54 "Extra package installation is failed. sap must be installed MANUALLY!"
**Describe the bug**

this is old issue as referenced link below. Issue was closed but it still exist in 1.4.1 version of Tizen extension. I dont know if it is extension related or Tizen Studio. I have created a support ticket but didnt get any solution. So i decided to create issue here. For me none of the emulators are useable currently. I tried mobile and watch emulators 4.0 and 5.0 both are re

[2020-02-03 08:06] rookiejava commented on #54
/cc @sangwook96-lee, @winstone77, PTAL

[2020-02-03 08:10] rookiejava commented on #48
@EmilAlipiev  could you give your information to us mentioned in above?

[2020-02-06 17:21] EmilAlipiev commented on #49
it looks like that something wrong with skiasharp

[code]

why is it looking for Version=1.68.0.0? I am referencing on older version. Does it mean that tizen watch application only works with skia Version=1.68.0.0 and above?

![image](https://user-images.githubusercontent.com/10422347/73961782-89970600-490d-11ea-81c3-4bdc98898558.png)

[2020-02-06 17:26] EmilAlipiev commented on #49
Ok nothing to do with version. I have upgraded on newer version but error changed.

[code]

[2020-02-06 17:54] EmilAlipiev commented on #49
these could be releated

https://github.com/mono/SkiaSharp/issues/659
https://github.com/mono/SkiaSharp/issues/430

[2020-02-07 02:12] myroot commented on #49
@EmilAlipiev We have issue on Tizen.NET.Sdk, so `*.so` was not copied on packages,
It fixed and it will be applied on next released version

To fix early, Please add `<CopyLocalRuntimeTargetAssets>true</CopyLocalRuntimeTargetAssets>` this line on your .csproj file like below
[code]
please refer below link
https://developer.tizen.org/forums/tizen-.net/2d-graphic-on-samsung-watch?langredirect=1

[2020-02-11 07:36] #49 closed

[2020-02-11 23:14] EmilAlipiev commented on #49
I just had a chance to test the workaround but i am still getting exception. Now it throws exception below.

[code]

[2020-02-12 01:29] myroot commented on #49
@EmilAlipiev  Could you share your app code? before shared app was not using resource but, now your log show failed on loading from resource.

[2020-02-12 02:27] myroot commented on #49
@EmilAlipiev We have a issue load from resource/stream a svg file, you can only load from a file

[2020-02-13 00:37] EmilAlipiev commented on #49
[SvgTest.zip](https://github.com/Samsung/Tizen.NET/files/4195929/SvgTest.zip)
I had another test using it as embedded svg icon. Basically like attached. For me both way doesnt work.
1. as attached first project using under res folder
2. using as embedded svg

[2020-02-13 01:57] myroot commented on #49
@EmilAlipiev Could you share a log with the attached project? because it is working well on my devices.

[2020-02-14 00:16] EmilAlipiev commented on #49
here are the related logs for this project. I dont understand why it works for you not for me.
I am using VS 2019 latest update. All my tools are up to date and my device is Samsung Galaxy Active (first version). I wish i could be able to test on emulator but I am not able to run the emulator because of error.

[code]

[2020-02-14 02:33] myroot commented on #49
This exception was occurred in FFImageLoading.Svg, it is really hard to figure out a reason.
How about clear a nuget cache files?

[2020-02-18 01:28] EmilAlipiev opened #57 "How to override default keyboard layout in Galaxy Watch?"
when i use numeric keyboard on entry and if my language is German, it should display comma instead of dot as comma separator. But when entry is opened, it displays always dot. This is a known issue for Samsung phones also. I am able to override the default keyboard in android like below.
how can i achieve this in Tizen watch?

[code]

[2020-02-21 02:27] EmilAlipiev commented on #44
I have created exactly same issue here https://github.com/Samsung/Tizen.NET/issues/54
He means that it works on real device. yes for me it works on Galaxy device also but never on emulator. I followed those steps above but it didnt solve the problem.

[2020-02-21 02:32] #44 closed

[2020-02-21 03:06] EmilAlipiev opened #58 "Enhancement Request for Tizen.net"
Hi,

I have been working with Tizen.net using VS 2019 windows (always up to date latest version.) for 3 months and I really love tizen and would like to participate more. Therefore I decided to summarize my experience and wishes if you consider.
I worked mostly Watch application using a companion with SAP.
 - Accessory sdk wasnt available for .net. therefore I had to create binding library. Your s

[2020-02-22 02:17] EmilAlipiev commented on #48
I cannot reproduce this again. I assume that it was one time issue

[2020-02-22 02:17] #48 closed

[2020-02-22 02:47] EmilAlipiev commented on #49
Finally this worked fine for me. I dont know why but i had to install Skiasharp 1.68 version separately.
It worked indeed under res folders but It still doesn't work as embedded image with this format `resource://myApp.Icons.heart.svg?assembly=myApp`
Anyway for now it is good for me that it works under res folder because embedded image could make sense if it was multi platform targeted like xamari

[2020-02-22 03:56] EmilAlipiev commented on #49
Another update; This is getting pretty annoying. It still doesnt work on my watch Galaxy Active. It works on emulator but not one the watch. I did all cache cleaning rebuild and reinstall etc. but nothing helped. Logs are showing skia errors like below. I dont really understand what to do here.

[code]

[2020-02-27 09:00] JoonghyunCho commented on #57
@Inhong Hello, can you help with this question? Thanks.

[2020-02-27 10:52] JoonghyunCho commented on #58
@EmilAlipiev
Thank you very much for sharing your experiences and suggestions! and sorry for your inconvenience at the same time.

I have recognized the problem about using SAP on emulator, and I see it keeps bothering developers. I will definitely make sure this problem reported.
For the rest of your opinions, I totally understand how painful those would be to developers.
(I will try my best to b

[2020-02-27 16:56] #58 closed

[2020-02-28 07:50] YoupHulsebos commented on #53
I have this issues as wel. It has to do with certificates not being right. When I setup certificates on the command line everything works. I'm not able to debug this way though.

You can check if this is true for you can cancalling the debug session and reading the debug log.

[2020-03-02 03:25] EmilAlipiev opened #59 "Xamarin.Forms.Platform.Tizen.Forms.Init or Forms.Init?"
what is the difference between using

`Xamarin.Forms.Platform.Tizen.Forms.Init(app, true);`

and

`    Forms.Init(app); `  this is used in the default template.

I am asking this because @myroot used [here](https://github.com/myroot/Rg.Plugins.Popup/blob/support-tizen/src/Demo/Demo.Tizen/App.cs)

Xamarin.Forms.Platform.Tizen.Forms.Init and popup implementation works fine but if i use  Forms.Init(a

[2020-03-02 03:52] EmilAlipiev commented on #59
I think that this is related https://github.com/xamarin/Xamarin.Forms/issues/9129
It looks like it is because of xamarin.forms versions. Updating XF to 4.2 and above solves the issue.

[2020-03-02 03:52] #59 closed

[2020-03-04 17:14] EmilAlipiev opened #60 "Splash screen memory leak?"
I have followed [this article ](https://samsung.github.io/Tizen.NET/tizen.net/Adding-a-splash-screen-to-your-Tizen-.NET-application/)  to add splash screen on my wearable app using tizen 4.0.
It seems that using splash image causes memory leark and memory usage increases. is it because although splash image disappears but it is not collected by GC and remains in the memory? if it is the case, can

[2020-03-04 18:01] EmilAlipiev opened #61 "Tizen.Log doesnt save file , func ,line"
Using function below I log things and when i provide func, file, line information as parameter. They dont appear within the logs. Only message is there.

`public static void Debug(string tag, string message, [CallerFilePath] string file = "", [CallerMemberName] string func = "", [CallerLineNumber] int line = 0);`

[2020-03-04 18:17] EmilAlipiev opened #62 "SendDisappearingEventOnPause / SendAppearingEventOnResume for Tizen"
I have just created an issue on Xamarin github [here](https://github.com/xamarin/Xamarin.Forms/issues/9844). For a cross issue, it might be helpful here as well.

[2020-03-05 02:03] rookiejava commented on #60
Thank you for reporting.

/cc @pjh9216 Could you take a look this issue?

[2020-03-05 02:13] rookiejava commented on #62
I've left comments on Xamarin.Forms issue you opened.

[2020-03-05 03:18] EmilAlipiev commented on #62
Thanks I think that we can close this one here

[2020-03-05 03:18] #62 closed

[2020-03-05 05:21] hyotaekshim commented on #61
Hi,
Please just print it with Debug(string tag, string message),
then the other parameters (file, func, and line) will be automatically set by the compiler.
https://samsung.github.io/TizenFX/latest/api/Tizen.Log.html

You may fill in the other parameters explicitly.
In that case, if 'file' is NULL, the other parameters are not printed.

So, please refer to the C# Log api implementation.

static vo

[2020-03-10 01:37] rookiejava commented on #61
@EmilAlipiev Please re-open this issue if you still have problem related to this issue.

[2020-03-10 01:37] #61 closed

[2020-03-10 01:59] rookiejava commented on #60
@EmilAlipiev Can you share more information to find out the cause? This would be helpful.
e.g. which tools and methods you used to measure memory usage, and which binary (target? or emulator?) did you use, and so on.

[2020-03-17 06:04] rookiejava opened #63 "Does Tizen .NET support an API for tracking REM sleep?"
Need to provide guide how to track REM sleep with Tizen .NET.

[2020-03-17 06:08] rookiejava opened #64 "How to integrate Tizen .NET app with Bixby?"
Need to provide guide how to integrate Tizen .NET with Bixby.

[2020-03-17 06:28] rookiejava commented on #63
Please refer to [SleepMonitor](https://samsung.github.io/TizenFX/API4/api/Tizen.Sensor.SleepMonitor.html) API

[2020-03-17 06:43] rookiejava commented on #64
I think it would be a good idea to ask through the [Bixby Developer Forum](https://support.bixbydevelopers.com/hc/en-us).

[2020-03-18 01:11] Keytoll commented on #63
Unfortunately I could only find three sleep states: sleep, wake and unknown. No rem sleep state publically available to my knowledge.

[2020-03-18 14:47] ahmednrana opened #66 "VS Code Tizen.NET Extension not working"
Installing / Activating the TIzen.NET extension for marketplace gives the following error.

Cannot activate the 'Tizen .NET' extension because it depends on an unknown 'ms-vscode.csharp' extension .

Looks like Microsoft changed their extension id to `ms-dotnettools.csharp` instead of `ms-vscode.csharp`.

[2020-03-19 00:46] JoonghyunCho commented on #66
@sangwook96-lee, @winstone77, Please take a look at this issue.

[2020-03-29 16:11] hadihashem opened #67 "CookiePersistentStorage.Text not considered"
**Describe the bug**
Error in function CookieManager.SetPersistentStorage: The parameter storage is not considered

**To Reproduce**
Steps to reproduce the behavior:
1. Use the line code CookieManager.SetPersistentStorage(Program.Current.DirectoryInfo.Data, CookiePersistentStorage.Text);
2. The cookies are stored in SQLite format instead of Text format

**Expected behavior**
A clear and concise de

[2020-03-29 16:26] hadihashem opened #68 "How to read cookies saved using CookieManager.SetPersistentStorage()?"
Hello

In order to read the cookies saved using CookieManager.SetPersistentStorage, I expected to have the function CookieManager.GetCookies() as per this example:
https://www.javatips.net/api/android.webkit.cookiemanager

However, this function is not available
Is there any other way to read the cookies?

Regards

[2020-03-31 12:23] hadihashem opened #69 "Error using HTTP Requests"
**Describe the bug**
Sending and receiving HTTP Requests throws an HTTPRequestException with the message "Name or service not known"

**To Reproduce**
In the attached files an HTTP Request example with the same result
[ServiceApp1.zip](https://github.com/Samsung/Tizen.NET/files/4408984/ServiceApp1.zip)
Since it looks to be a DNS issue, using requestURLs with IP address instead of domain name allow

[2020-04-04 15:32] idkiller commented on #54
I had the same problem as this one on my windows 10 PC.
This seems like a timing issue.
In my case, after deleting the target from the emulator manager and re-creating it, the extension installed fine again.
But when re-creating it often happens the same Issue.

[2020-04-04 18:31] hadihashem commented on #69
Proxy issue
The HttpClient() object is working well

[2020-04-04 18:31] #69 closed

[2020-04-06 13:28] Husseinhj opened #70 "Could not find Visual Studio for Mac Extension for Tizen"
I have Visual Studio for Mac v8.5.1 on Catalina mac os v10.15.4 (19E266). Based on your documentation I couldn't find **Visual Studio for Mac Extension for Tizen** in visual studio extension.

**Screenshots**
<img width="400" alt="Visual Studio version" src="https://user-images.githubusercontent.com/27139702/78562426-91502980-782e-11ea-83eb-2333ddd5644f.png">

<img width="300" alt="Visual Studio v

[2020-04-06 22:25] younghajung commented on #68
Unfortunately, it is not provided at the moment.
Tizen.WebView supports functions for simple browsing for now.
But, we plan to support more APIs gradually.
API that gets a cookie will be introduced on the next Tizen version.

[2020-04-06 22:30] younghajung commented on #67
Chromium does not support text file based cookie storage.
CookiePersistentStorage.Text will be deprecated soon.
Thank you.

[2020-04-08 21:47] nemethmik commented on #54
Same here, I use Tizen Studio 3.7, the message "Extra package installation is failed. **sap must be installed manually**" is shown, but the app runs fine on the 4.0 emulator. And then the message is not coming back, only when I restart the emulator 4.0.
However, on a 5.5 emulator I get the error message "Extra package installation is failed. **cert must be installed manually**" is shown, and the a

[2020-04-12 23:11] Juwols commented on #70
@sangwook96-lee,
Could you check this issue?

[2020-04-13 02:06] sangwook96-lee commented on #70
Hi,
Thanks for asking it here.

https://docs.tizen.org/application/vstools-mac/overview
We officially announce it supporting on Mojave 10.14 version.
This year, we will consider to work it on Catalina version, too

Thank you very much.!!!

[2020-04-13 09:38] devop06 opened #71 "Network service discovery, ssdp not working Samsung Watch with visual studio"
**Describe the bug**
I'm on Visual Studio 2017 for Windows with a Samsung galaxy watch SM R800 to Tizen 4.0.0.4.

i want to use network service discoveries, more precisely ssdp feature to discover a device in my home network.

I got this error (tizen log):

04-11 12:17:18.465 | Error | 4595 | 4595 | CAPI_NETWORK_SSDP | ssdp.c: ssdp_initialize(433) > http://tizen.org/feature/network.service_discove

[2020-04-13 12:27] Husseinhj commented on #70
Thanks for the pieces of information.

Do you have any idea when it will be available on the Catalina version?
For developers it's important to use the latest version of OS, especially in the Apple ecosystem.

[2020-04-13 14:33] nmadrane opened #72 "SQLite : forbidden assembly"
**Describe the bug**
Trying to integrate SQLite in my Tizen.NET (TV) application. As soon as I launch the application on my tv set, I get an error message saying that sqlite3 is forbidden.

**To Reproduce**
1. Create an empty Tizen.NET TV application with VS 2019
2. Add the following Nuget Packages
  - sqlite-net-base
  - SQLitePCLRaw.provider.sqlite3.netstandard11
3. Launch the application on a T

[2020-04-13 21:52] TizenHelper commented on #72
Hi,
This issue only occurs in Samsung Smart TV products. (SQLite works in Tizen platform emulator and Galaxy Watch devices.)
As mentioned in [tizen forum](https://developer.tizen.org/forums/tizen-.net/forbidden-assembly), we're still waiting for TV product team's answer. Thank you for your patience.

[2020-04-13 22:25] TizenHelper commented on #71
Hi,
Thank you for asking.
SSDP feature is not supported on Samsung Galaxy Watch.

[code]
@chleun-moon,
Please confirm whether Galaxy Watch supports SSDP or not.
Thank you in advance.

[2020-04-14 07:24] TizenHelper commented on #71
It turns out to be a problem that only occurs on some models(including SM-R800) of Galaxy Watch. So we ask the person in charge to fix this issue.
Unfortunately, there's no SW update (Tizen 4.0 MR) plan for this model at this moment.
We'll share it with you if there's any news.
Thanks.

[2020-04-14 13:52] devop06 commented on #71
Indeed, it's not supported. (_isSsdpServiceSupported  == false)
it's a shame, thank you for your help.
Yes if can you keep me informed.
thank you

[2020-04-16 03:57] TizenHelper commented on #72
Sorry for informing you of this kind of news.
Due to the security policy of Samsung TV products, loading the library provided by TV product using DllImport is not supported.
(In this case, SQLitePCLRaw.provider.sqlite3 dll is trying to load sqlite3 library provided by TV product through DllImport and it's not allowed on Samsung TV products.)
This policy seems to be maintained for the time being.
T

[2020-04-16 16:23] nmadrane commented on #72
Ok thanks for your feedback. I will try to find another solution for a local database in my TV project. Something that is pure CLR.

[2020-04-16 22:31] #72 closed

[2020-04-16 22:34] #67 closed

[2020-05-07 02:34] rookiejava commented on #54
@sangwook96-lee, @winstone77 Any updates, please?

[2020-05-07 02:35] #68 closed

[2020-05-07 02:36] rookiejava commented on #66
@sangwook96-lee, @winstone77 Any updates?

[2020-05-07 06:34] Filliny commented on #72
B..but your Tizen TV project termplates from start gives the same error -
![viber_image_2020-05-07_09-32-49](https://user-images.githubusercontent.com/25462974/81262075-d17d1480-9045-11ea-906a-fd2feae4404a.jpg)
![Microsoft_Visual_Studio_2020-05-07_09-31-03](https://user-images.githubusercontent.com/25462974/81262108-e063c700-9045-11ea-9088-ed6f80630199.png)

[2020-05-07 07:12] Filliny commented on #72
This solves problem ( Like it does now for Tizen Xaml App solution termplate from scratch) :

![STVXamarinApplication1_-_Microsoft_Visual_Studio_2020-05-07_10-09-18](https://user-images.githubusercontent.com/25462974/81265120-31c28500-904b-11ea-9601-b43cf5d2973e.png)

[2020-05-07 07:14] Filliny opened #73 "Tizen TV 5.0 (4.0 & so on) solutions termplate projects fail to run from scratch"
**Describe the bug**
Solution termplates failed to run without any modifications.  TV reports that :
_**Fail to Launch your App.
[FAIL ] .Tizen.TV.dll refers a forbidden
assembly directly - Xamarin.Forms.PIatform.Tizen :(**_

**To Reproduce**
Steps to reproduce the behavior:
1. Create in  Visual Studio empty project from termplate Tizen Samsung TV 5.0
2. Dont change anything
3. Build and deploy to

[2020-05-07 09:54] TizenHelper commented on #73
Hi,
Sorry for the inconvenience.
Do you mean that the issue is solved after just modifying as below

[code]
In my case, the problem was not solved with your solution.

Do you use VS 2019?
I checked that  TV .NET app is running on TV after modifying as below:

1. STVXamarinApplication1.csproj
[code]

2. STVXamarinApplication1.Tizen.TV.csproj
[code]
Please give it a try.
Regarding the issue, we aske

[2020-05-09 07:18] Filliny commented on #73
Yes - sorry, I'we cheked and really- i have made your modifications early , prior to renaming of namespace. So after renaming namespace all run fine. And  yes - VS2019.
Thanx for reply - expect for changes!)

[2020-05-23 11:25] aleybe commented on #66
Unfortunately I'm unsure how to resolve this issue, I'll have to download VS instead :/

[2020-05-23 14:00] aleybe commented on #66
Alright guys I have found a work around that seems to be working for me.

Go to one of these depending on your OS.

    Windows %USERPROFILE%\. vscode\extensions.
    macOS ~/. vscode/extensions.
    Linux ~/. vscode/extensions.

Find the `tizen.vscode-tizen-csharp-1.2.0` extension

Inside that there is a `.vsixmanifest`

Change the `<Property Id="Microsoft.VisualStudio.Code.ExtensionDependencies"

[2020-05-30 10:24] VladislavAntonyuk opened #74 "Support .NET Standard 2.1"
Currently application is build using .NET Standard 2.0, which limit us from using new EntityFramework and so on, which supports .NET Standard 2.1 or higher

[2020-05-30 10:27] VladislavAntonyuk opened #75 "Support SQLLite with Tizen"
Could somebody provide a sample how to use EntityFramework.Core.SQLLite with Tizen.
It works with InMemory database, but failed on db creation, if using SQLLite

[2020-06-01 02:19] WonyoungChoi commented on #74
@VladislavAntonyuk  Supports netstandard2.1 from tizen60 tfm. And the tizen60 tfm is available in Tizen 5.5 M2 platform. (https://www.tizen.org/blogs/tsg/2019/tizen-5.5-public-m2-release)

[2020-06-01 18:39] #74 closed

[2020-06-03 15:01] aberteau commented on #54
I was able to install the sap package manually once but when i tried to reproduce on a new emulator, I got errors.

Here is the procedure :
From sdb console
`> sdb push [tizen_sdk_path]\platforms\tizen-4.0\wearable\emulator-images\add-ons\sap /opt/usr/home/owner/sap`

`> sdb root on`

`> sdb shell rpm -i /opt/usr/home/owner/sap/sap-1.9.5-0.i686.rpm`

The package has been successfully installed and

[2020-06-05 02:40] aberteau commented on #54
I was able to install the sap package manually and unlike my previous post, I managed to reproduce it several times.

Here is the procedure :
1. Copy packages from the host computer to the target.
`> sdb push D:\TizenSDK\platforms\tizen-4.0\wearable\emulator-images\add-ons\sap /tmp/.emulator/apps/sap`

2. Switches  to root mode
`> sdb root on`

3. Remount filesystem as Read/Write
`> sdb shell moun

[2020-06-07 04:35] Vascomax commented on #54
TL;DR
Same problem here. For me SAP with Tizen 4.0 emulator does still not work.

I am having the same issue with the current 4.0 tizen emulator image and the wearable extension SAP. Thanks for the help so far. But for me it does not work yet. I can install most of the packages. But somehow the  packages and dependencies ar messed up. Two of the RPMs are older than what is pre-installed in the ima

[2020-06-07 08:26] aberteau commented on #54
@Vascomax : I confirm that I only installed the SAP package.  I have listed all the manipulations performed manually on the standard image.

If that can help you, I will put the version of the various components (image, RPM packages, ..) in a next post.  I also exported the image with the SAP package installed.  I can make it available if you want to download it.

[2020-06-07 18:18] Vascomax commented on #54
@aberteau Thank you. I think I finally reached a state where it is kinda working. I reinstalled a lot. Installed the packages except the ones which are newer on the image, or if other ones were needed based on the pre-installed versions. And I messed a bit with the commands in post-install.sh. Executing them manually.
I could get the connection and the app to work. However it is quite buggy. If th

[2020-06-07 19:50] Vascomax commented on #54
At least I found out how to get rid of the error message popup. As I suspected, it was a package conflict with the installed image packages. To make the message not come up, you have to delete in the sap add-in folder the packages which are newer on the image (as per today) this are:
-`amd-1.3.19-300.i686.rpm` (since the newer one amd-1.3.26-70.1.i686.rpm is pre-installed)
-`security-privilege-man

[2020-06-18 02:45] EmilAlipiev opened #76 "Tpk includes excluded files in VS 2019"
**Describe the bug**
I have just unzipped tpk file and under res folder there were images are excluded from my VS 2019 solution but they are bundled into tpk file.

**Expected behavior**
They should not be included into tpk

**Environment (please complete the following information):**
 - Galaxy Watch application
 - Tizen 4.0

[2020-06-18 09:55] TizenHelper commented on #76
@sangwook96-lee,
Could you check this issue?
Thank you in advance.

[2020-06-19 07:15] sangwook96 commented on #76
@EmilAlipiev
Hi,
Thanks for asking it here.
I have one query to you.
1. How did you exclude the images from app ?
2. What did you use Visual Studio Tools for Tizen version ? The curren version is 3.1.0.0.
Kindly let me know.
Thank you and regards.

[2020-06-22 16:44] Husseinhj commented on #70
Any update?

[2020-07-02 14:34] CalebProvost commented on #66
@aleybe
Thanks, but you have a typo:

There's an extra 't'.  Should be `ms-dotnettools.csharp`

[2020-07-14 20:26] zacharee opened #77 "Bluetooth Support in WebView"
**Is your feature request related to a problem? Please describe.**
Currently, the wearable dotnet WebView only supports connections over WiFi/LTE. With only Bluetooth on, DNS can't resolve.

**Describe the solution you'd like**
The WebView should support loading pages over Bluetooth. Samsung Internet can load pages like that, so it must be technically possible.

**Describe alternatives you've cons

[2020-07-30 00:36] xbldx opened #78 "Crash issue when the slider's Min value is 1 or higher"
**Describe the bug**
Crash issue when the slider's Min value is 1 or higher

**To Reproduce**
Open the xaml file. Then insert the following slider code.
`<Slider Minimum="2" Value="2" Maximum="10"/>`

**Expected behavior**
There should be no crash.

**Screenshots**
[Error Code - RPI4]
Value is an invalid value for Minimum

[Error Code - Mobile Emulator]
System.ArgumentException: Value is an invali

[2020-07-30 01:07] JoonghyunCho commented on #78
Hello 😄
Each property of `Slider` has the following default value, and `Slider` validates each value when it is set.

From the given sample code in xaml
[code]
When the `Minimum` value is set to 2, it throws the ArgumentException because the value is bigger than the Maximum value at the moment which is 1.
Therefore, the following code will be ok.
[code]

[2020-07-30 07:29] rookiejava commented on #77
/cc @younghajung Can you take a look this issue?

[2020-07-30 07:30] #78 closed

[2020-07-30 07:37] rookiejava commented on #75
Here you may go ➡️  https://github.com/wcoder/Tizen.Net.SQLite.Sample

[2020-07-30 07:37] #75 closed

[2020-07-30 07:39] #71 closed

[2020-07-30 07:44] younghajung commented on #77
Tizen.WebView is supported within the scope supported by the native webview (ewk view).
Unfortunately, both native and Tizen.WebView are not planning to support Bluetooth connection.

[2020-07-30 21:05] zacharee commented on #77
This seems like a pretty basic limitation. How can I request it as a feature for the native API?

[2020-08-20 14:04] matthewkrueger opened #79 "Gear S3 with Tizen 4.0.0.7 missing SAP library, all companion apps crash."
**Describe the bug**
I'm just about to release version 1.0 of a new Tizen companion app for a very popular Android app. Our users have been anticipating this for years. I had a beta tester try out the app and it works fine on his Galaxy Watch. It also works fine on the Watch Active 2 and Galaxy Watch 3 that I bought for development.

On his Gear S3, the Tizen app will not even open. I was able to

[2020-08-27 11:08] striboldt commented on #70
We really need this.

[2020-08-28 03:27] vivek-ellur commented on #70
Hi,

Its available in Extension Manager, Can you click refresh button in gallery and check it under IDE Extension tab.

[2020-08-28 09:43] striboldt commented on #70
Thanks Vivek, the extension is now available 👍

[2020-09-02 16:51] OmegaZero commented on #54
@Vascomax  - How do you find out what packages are already installed on the emulator?

[2020-09-25 08:56] Vascomax commented on #54
@OmegaZero Since it was already longer time ago, I don't remember all the things, but I'm sure when you try to manually install a package via the shell, and there is already a newer version installed, it will tell you exactly which version is installed when the installation fails (in case you did not set the "ignore and force install anyway" option on the rpm command)

[2020-10-20 14:16] #70 closed

[2020-10-29 14:19] Ornolfr commented on #54
Did anyone have a problem with Tizen 4.0+ emulator and real device that wouldn't let the app launch? It gets installed successfully but then nothing happens when user taps on it. If I completely remove SAP-related code from my app, everything works ok, but otherwise it bugs out.

[2020-10-29 14:21] matthewkrueger commented on #54
@Ornolfr happens constantly. Uninstall/reinstall usually fixes it. Sometimes I have to swap between Debug and Release builds to get it to run. Sometimes I delete the release and debug folders from the build and that fixes it. Par for the course with Tizen Dev!

[2020-10-29 14:47] Ornolfr commented on #54
@matthewkrueger Thanks for a quick reply. Unfortunately, nothing from your list helps. I can constantly reproduce this issue for all emulators except Tizen 3.0. My client has Samsung Gear S3 with Tizen 4.0.0.7 and he has the same issue. However, he could install the production version from Galaxy Apps store and launch it successfully. Looks like I'm having the same issue as this #79. I'm using C/C

[2020-10-29 14:52] Ornolfr commented on #79
@TizenHelper I've got the same exact issue with my app that is written in Native C/C++. Please advise on how this can be fixed.

[2020-10-29 15:35] matthewkrueger commented on #54
Yup @Ornolfr same issue #79 I reported but with .NET. Tizen is fun!

[2020-12-07 11:04] ShiverZm opened #80 "how to install app to Samsung TV ?"
I dont know how to install? like android ? enter DEBUG mode ?and how? i just build a app and run in Samsung TV simulator.

[2020-12-11 15:09] vitalii-smal opened #81 "Using third-party libraries on TizenTV .NET application"
Hi,

I am new to developing Tizen .NET applications, in my case for Tizen TV.

I tried to port my Xamarin Forms application for TizenTV, but I got problems with my NuGet packages, when I tried to launch it on the physical device with Tizen OS.

It shows me next error:
`[FAIL] SQLitePCLRaw.provider.sqlite3.dll refers a forbidden assembly directly - sqlite3 :( `

Does anybody know either it is possi

[2020-12-17 03:41] EmilAlipiev commented on #61
just checking this issue again. here there is another bigger issue. Debug messages are not appearing among the logs in Device Manager but only Info messages. What is the purpose of Debug logs?

` global::Tizen.Log.Debug(tag, message);`

[2020-12-17 04:32] hyotaekshim commented on #61
Could you tell me your target device? on TV products?
According to the product, some of dlog levels like Verbose and Debug can be disabled to avoid too many logs. I'll notify it on the website.

[2020-12-17 05:21] EmilAlipiev commented on #61
I am on Samsung Galaxy Active Watch 2. on a real device with Tizen 5.5
I have just tested Log.Error and not working either. Only Log.Info appears in the Device Manager Logs

[2020-12-17 06:33] hyotaekshim commented on #61
Could you show this on your device?
# cat /etc/info.ini

[2020-12-17 07:01] EmilAlipiev commented on #61
[Version]
Model=SM-R820;
Build=R820XXU1CTJ5;
Release=R820XXU1CTJ5;
[Build]
Type=user;
Date=20201021_162020;
Time=16:20:20;
Variant=NONE;
ID=R820XXU1CTJ5;

[2020-12-17 10:12] hyotaekshim commented on #61
When we check it on this now, Error log works fine.
sh-3.2# cat /etc/info.ini
[Version]
Model=SM-R820;
Build=R820XXE1DTL4;
Release=R820XXE1DTL4;
[Build]
Type=eng;
Date=20201215_092349;
Time=09:23:49;
Variant=NONE;
ID=R820XXE1DTL4;

Could you check this on you device?
dlogctl -s deny
dlogctl -t TEST -s allow
dlogutil -c
dlogsend -p Error -t TEST TEST -c 100
dlogutil
E/TEST    ( 4133): TEST
E/TEST

[2020-12-18 17:08] EmilAlipiev opened #82 "Fix Default file name on log export"
when I try to export logs from Device Manager. default file name is not a valid name on Windows as shown below.
not sure if the ip address and port is really needed :)

![image](https://user-images.githubusercontent.com/10422347/102641203-f9943080-415b-11eb-9ba2-25a15992f39c.png)

[2020-12-18 17:15] EmilAlipiev commented on #61
@hyotaekshim quick Question is there any size limit on message chars? I also recognized that when i want to save a big json file as log, it is not appearing even as info.

[2020-12-18 17:18] EmilAlipiev commented on #61
where do i run that dlogctl command? when i use tizen sdb command prompt, it tells me that it is not recognized command. I cannot find anything related to it under my TizenSDK folder.

[2020-12-18 23:53] EmilAlipiev commented on #54
quick question, what kind of solution did you use to detect crashes with tizen. especially with .net. Crashlytics or app.center etc. dont work i believe.

[2020-12-19 03:29] EmilAlipiev commented on #81
Can you try to initialize sqlite like below?

[code]

see the answer below also https://stackoverflow.com/questions/55464505/how-can-i-use-sqlite-in-tizen-net-c

[2020-12-19 03:31] EmilAlipiev commented on #53
this seems to be fixed in the latest updates of VS2019 or Tizen tools. I dont experience this issue anymore.

[2020-12-19 03:31] #53 closed

[2020-12-20 22:24] EmilAlipiev opened #83 "Updating Tizen Studio by overriding Sdk data"
I install first Tizen Studio to get the latest SDK and other tools intead of directly using Visual Studio. Because somehow
using directly VS causes some issues on emulators. Here is the problem. Tizen Studio doesnt have a proper update option and i need to go to website to download the latest version and kid of reinstall it but installation process doesnt allow me to override the exisiting Tizen S

[2020-12-20 23:52] JoonghyunCho commented on #80
Check out [here](https://github.com/Samsung/Tizen.TV.UIControls/wiki/Launch-Your-.NET-Application-on-Samsung-Smart-TV).

[2020-12-20 23:52] #80 closed

[2020-12-21 02:35] rookiejava commented on #82
Thank you for reporting and suggestion.

@sangwook96-lee and @winstone77 , Could you please take a look on this?

[2020-12-21 02:36] rookiejava commented on #83
/cc @sangwook96-lee and @winstone77 PTAL

[2020-12-21 02:38] rookiejava commented on #81
Unfortunately, as guided in the FAQ [here](https://developer.samsung.com/tizen/Smart-TV/FAQ/FAQ.html), existing TV product doesn't allow to import external dll (through  `DllImport`) for security reasons.

However, if I know correctly, this restriction will be removed from the 2021 TV models with Tizen 6.5.

[2020-12-21 02:38] #81 closed

[2020-12-22 03:57] hyotaekshim commented on #61
Yes, dlog has the limitation of message size, which is about 4KB.
I'm sorry, but I've found dlogctl is not allowed for 3rd party users.
Please let me know if you have any more problems with Log.

[2020-12-23 00:24] EmilAlipiev opened #84 "VS 2019 Tizen template shows subfolders on adding new project to existing XF solution"
When I want to add a Tizen project on my existing XF project. It displays solution folders like below, instead of existing project.
You can simply reproduce it by
- create new XF solution
- add each Project to solution folders
- add new Tizen project to the Sln
-
![image](https://user-images.githubusercontent.com/10422347/102945228-75281180-44bd-11eb-8af4-40fdaf8f482a.png)

[2020-12-23 00:28] EmilAlipiev commented on #49
After long time i came across the this issue again. This is related sdb server/client i believe. I have 2 installations
1- Installed using Tizen Studio
2- Installed using VS 2019 extension

if i set the path of Tizen Studio, it doesn't work. I downloaded latest version today and tried.
if i set the path of VS 2019 extension download folder, it works fine.
not sure what is the difference, i think t

[2020-12-23 01:52] EmilAlipiev opened #85 "Certificate Manager Create new certificate missing "Device Type" step"
I updated to tizen studio 4 and when i try to create a new certificate, it starts directly with profile name.
Before and according to the documentation also, there was device type step.
so my question is, was that removed and now all device types uses same certificate?
i dont need to create for watch and tv different one?
If that is the case, i created a new certificate which doesnt work on tv.

!

[2021-01-10 21:08] rexopl commented on #85
Yeah there is other GUI for cert manager now, how to add DUID now?

[2021-01-10 21:13] rexopl commented on #85
I was looking for the same, and found it. There is Samsung Certificate Extension to install in package manager in Extension SDK tab.

[2021-02-02 18:05] sep-sabeti commented on #66
Guys it worked !! thank you so much ! it drove me crazy for a day !

[2021-02-11 20:58] nishtahir commented on #70
Looks like this issue might need to be reopened because the extension is no longer available since the process for releasing extensions has changed https://docs.microsoft.com/en-us/visualstudio/mac/migrate-extensions?view=vsmac-2019

[2021-02-20 11:24] alikoli opened #86 "Visual Studio for Mac Extension for Tizen not available"
**Describe the bug**
With the newest changes in Visual Studio for Mac the extension Visual Studio for Mac Extension for Tizen is not available. Documentation provided here https://github.com/Samsung/Tizen.NET/blob/master/_posts/2019-11-05-Releasing-VS-Mac-Tizen-extension.md
and here https://docs.tizen.org/application/vstools-mac/overview/
should be updated.

**To Reproduce**
Open Visual Studio for

[2021-02-20 11:32] alikoli commented on #86
The only extension I found http://download.tizen.org/sdk/vs-for-mac_ext/ doesn't seem to work either. IDE returns error during deployment of the basic xamarin forms app for tv:

Execution failed
System.TypeLoadException: VTable setup of type MonoDevelop.Debugger.DotNetCore.DotNetCoreDebuggerSession failed
  at MonoDevelop.Debugger.DebuggerEngine.CreateSession () [0x00006] in /Users/builder/azdo/_w

[2021-03-02 04:58] winstone77 commented on #66
This issue was resolved in latest vscode extension for tizen.

[2021-03-02 05:05] winstone77 commented on #73
It seems that this issue already resolved.

[2021-03-02 05:40] dkson95 commented on #86
@alikoli thank you for this report.
Btw, could you check the extension `v.3.4.0.0` installation from https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsforTizen on visual studio for mac ?

[2021-03-02 06:16] dkson95 commented on #85
Nice catch! @EmilAlipiev Tizen SDK provides `Samsung` cert for store upload or, `Tizen` cert. for local use

https://docs.tizen.org/application/dotnet/tutorials/certificates/creating-certificates/

[2021-03-02 06:51] dkson95 commented on #84
@EmilAlipiev thank you for the report, but, could you describe your issue more in detail with the latest vsix and example if possible, please ?

[2021-03-02 06:59] dkson95 commented on #83
@EmilAlipiev could you check the way of update by https://developer.tizen.org/development/tizen-studio/download/installing-tizen-studio/updating-tizen-studio ?

[2021-03-02 07:59] dkson95 commented on #82
@EmilAlipiev yes, this is related with remote device connected case for the ip with port attached to the filename. (expected behavior

[code]
If you can check the latest TizenStudio(https://developer.tizen.org/development/tizen-studio/download) you can modify the filename by:
![image](https://user-images.githubusercontent.com/17193661/109616331-61adbc80-7b78-11eb-9e68-e2cb43c23346.png)

Thank you.

[2021-03-02 08:21] Ornolfr commented on #54
@aberteau @Vascomax could you provide the Tizen 4.0 image that works with SAP?

[2021-03-02 08:47] #73 closed

[2021-03-02 08:48] #66 closed

[2021-03-02 09:04] #85 closed

[2021-03-02 09:07] #82 closed

[2021-03-02 09:08] #83 closed

[2021-03-06 01:14] TheisStellaCare opened #87 "Unable to start debug, Tizen tool for Visual Studio"
**Describe the bug**
When I try to debug my application I get this error (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
2. Click on 'F5' To debug
4. See error

**Expected behavior**
I expect to see the debug screen but it just gives me this error (see screenshot)

**Screenshots**
![Capture](https://user-images.githubusercontent.com/69501514/110189897-1cf87e80-7e21-11eb-9892-53

[2021-03-20 04:55] 406411350 commented on #63
I have the same problem?
Did you have any source to get the data

[2021-03-20 09:46] danergo commented on #54
Guys, anyone has update on this? I'm also struggling with this: I've managed to install sap (sap-1.7.54-0.i686.rpm from version 3.0) onto 5.5 emulator, it works. At least it connects to "Emulator for Samsung Accessory". I can also compile a sample for version 5.5 emulator, but when I try running it, `sap_agent_initialize` always gives permission denied errors. I'm not using .NET, but native C, sor

[2021-03-25 08:59] amagaev commented on #86
Adding addins repo https://addins.monodevelop.com/Stable/Mac/8.8/main.mrep instead of 8.9 fixed the issue.

[2021-03-30 03:12] rookiejava commented on #87
/cc @sangwook96-lee , @winstone77, @dkson95  PTAL.

[2021-04-08 01:49] mrcool1575 commented on #87
Any update?

[2021-04-22 05:45] SupinePandora43 opened #94 "Tizen 3.0 Support"
![image](https://user-images.githubusercontent.com/36124472/115661974-bdfeb280-a357-11eb-9099-017ee8a14fff.png)
![image](https://user-images.githubusercontent.com/36124472/115664488-53e80c80-a35b-11eb-9e72-ea53e97ca083.png)

[2021-06-19 16:14] CreateLab opened #101 "Rider extension for tizen"
Rider is popular dotnet platform, and it'll be good that in rider plugins I may find tizen plugin

[2021-07-12 23:59] EmilAlipiev opened #105 "Accessory Sdk not working with Android 11"
Is there any breaking changes with Accessory Sdk, once i upgrade my android mobile project to targeting android 11, i am not able connect to my watch app using Sap?

[2021-07-13 00:44] dkson95 commented on #87
Okay, confirmed this as bug.
we fixed the issue, but will be published at Oct. release.
Thank you!

[2021-07-13 00:46] #86 closed

[2021-07-16 07:37] EmilAlipiev commented on #105
Solution seems to be https://stackoverflow.com/questions/63290753/samsung-accessory-protocol-not-working-after-switching-target-sdk-to-api-level-3

[2021-07-16 07:37] #105 closed

[2021-08-24 18:58] OmidID opened #108 "Sample for MAUI"
Would you please have a sample or template code for MAUI?

When I adding `net6.0-tizen` to the list of target frameworks I get failed because packages at below cannot be found:
`Microsoft.Maui.Essentials.Ref.tizen`
`Microsoft.Maui.Controls.Ref.tizen`
`Microsoft.Maui.Core.Ref.tizen`

By the way, I added a directory Tizen in platforms and I do not see any Tizen namespace there.

[2021-10-01 04:16] dkson95 commented on #84
closing invalid issue.

[2021-10-01 04:16] #84 closed

[2021-10-01 04:18] dkson95 commented on #76
Closing invalid issue!

[2021-10-01 04:18] #76 closed

[2021-11-19 16:33] EmilAlipiev opened #125 "Value cannot be null. Parameter name: Input"
I have just picked my existing xamarin.forms tizen project after some time and tried to debug on my GW Classic 4 and i am getting straight away this error message. There is no additional information although i have turned on Diagnostic builds.
I have created a new app from the default template to see if it is my project specific, it is exactly same error with the default template without changing

[2021-11-30 01:15] sangwook96 commented on #125
Hi, @EmilAlipiev
Sorry for the bad experience, Can you please provide the below detail to investigate this issue further.
1. Is tizen studio path set in Tools -> option -> tizen -> tool
2. Installed tizen studio version
3. List of platform and profiles installed in tizen studio

In detail,
We can debug 6.5/5.5 wearable  xamarin forms apps on the ide, now.
Just please follow the below guide step by

[2021-12-13 16:04] EmilAlipiev commented on #125
Tizen studio version: 4.1 but i am not sure what is "List of platform and profiles installed in tizen studio"? My VS and Tizen Studio are always the same and works fine on Active watch 2. I have problem with Classic watch 4.
When I connect using VS, VS2019 is showing as available device but when I try to debug, i get this popup as error message. One thing also different than Active 2 is that Tizen

[2021-12-14 02:16] EmilAlipiev commented on #125
This is how it looks like.

<img width="292" alt="image" src="https://user-images.githubusercontent.com/10422347/145920790-26b895bd-bb11-44a9-8bcd-b26fecd54396.png">

[2021-12-25 17:36] EmilAlipiev commented on #125
I am not sure it is even actually Tizen is working with VS2019 any longer?

see the image below. Connection is successful but logs panel doesnt display anything. it used to display logs from the watch before.

<img width="752" alt="image" src="https://user-images.githubusercontent.com/10422347/147390411-74eb53d5-0e26-4523-b607-cbb605ddd451.png">

VS2019 shows the connection is successful but when

[2022-01-26 07:09] zandiarash opened #135 "dotnet build a widget or watch face for wearable devices"
Please someone visit this link
[https://github.com/Samsung/tizen-docs/issues/1583](https://github.com/Samsung/tizen-docs/issues/1583)

[2022-01-27 07:09] WonyoungChoi commented on #135
Moved to Samsung/tizen-docs#1583

[2022-01-27 07:09] #135 closed

[2022-02-03 01:23] WonyoungChoi opened #138 "Checking `Tizen .NET API Level` with `api-version` in `tizen-manifest.xml`"
The `api-version` attribute of the `manifest` element represents the Tizen platform version. For example, if the `api-version` is `4`, the tpk can be installed only in version 4.0 or higher.
[code]
However, `tizen-manifest.xml` does not describe the Tizen .NET API Level. Therefore, it is necessary to check whether the available API Level has been used using the `api-version` during the TPK packagi

[2022-02-03 01:55] sung-su opened #139 "An default Blazor template application has a crash occurred."
An default Blazor template application has a crash occurred with below error.
[code]

This problem occurs when `workload` reference and does not occur when project referenced.
The `TargetFramework` is `net6.0-tizen`, but refers to `net6.0` of the `Microsoft.AspNetCore.Components.WebView.Maui` package.

Steps to reproduce:
1. MAUI Tizen workload & template installed environment.
2. Create a default

[2022-02-03 03:43] dkson95 commented on #87
The debugging is working fine
1. VS2019 ext. for Tizen https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsforTizen
2. VS2022 ext. for Tizen https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsTizen2022

@TheisStellaCare would you update once for this issue and share the apps in case it is not fixed yet?

Thank you!

[2022-02-03 06:57] WonyoungChoi commented on #139
@sung-su Could you add `repro steps` in the description?

[2022-02-03 07:52] JoonghyunCho commented on #139
@WonyoungChoi Here's the steps to reproduce. @sung-su Please fix me if I'm wrong.

Environment: MAUI Tizen workload installed environment.
Steps to reproduce:
- Create a default `.NET MAUI Blazor App` template on Visual Studio.
- Build and Run the app on Tizen device.
- Exception occurs on app launching step.

[2022-02-03 07:54] JoonghyunCho commented on #138
Just to remember, MAUI Tizen Template needs to be updated after applying this change. :)

[2022-02-03 08:10] sung-su commented on #139
@JoonghyunCho Thank you.
@WonyoungChoi  Description updated.

[2022-02-04 03:14] r-dadhich commented on #138
Hello Mr. Choi,

Tizen.NET api version is also present under application type tag.
for example:
<ui-application appid="org.tizen.example.ElmSharpTemplate4"
                    exec="ElmSharpTemplate4.dll"
                    type="dotnet"
                    multiple="false"
                    taskmanage="true"
                    nodisplay="false"
                    launch_mode="single"

[2022-02-04 15:13] #94 closed

[2022-02-04 15:13] #79 closed

[2022-02-04 15:13] #77 closed

[2022-02-04 15:13] #64 closed

[2022-02-04 15:13] #63 closed

[2022-02-04 15:13] #57 closed

[2022-02-04 15:13] #60 closed

[2022-02-04 15:13] #54 closed

[2022-02-07 02:41] dkson95 commented on #125
@EmilAlipiev Would you make sure that the issue is reproducible even on latest release ?

https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsforTizen

As the issue is not reproducible target/ emulator on here, would you check another device or wearable emulators in case the device might be corrupted ?

Thank you!

[2022-02-07 05:28] WonyoungChoi commented on #138
@r-dadhich Yes, but the `api-version` attribute of `*-application` element was not actually being used as we intended in APPFW.
So we agree with VD and APPFW to delete the attribute of `*-application` element.

[2022-02-07 05:38] WonyoungChoi commented on #139
@sung-su @JoonghyunCho
Please see https://github.com/xamarin/xamarin-android/pull/6026

[2022-02-09 08:35] JoonghyunCho commented on #139
Thanks a lot for finding out the solution. I think we can also do the same for Tizen.
I will make a PR soon!

[2022-02-10 01:49] #139 closed

[2022-02-10 02:59] EmilAlipiev commented on #125
@dkson95 @sangwook96

  If i have misunderstanding here maybe, please correct me. I was originally talking about Galaxy watch 4 which has wear Os powered by Samsung as OS. I thought that I can still debug/run tizen apps on GW4. Is that not the case?
  On the seller center of Samsung, when i want to publish my tpk, there is option select watch types and GW4 is in the list as well.

[2022-02-10 03:00] EmilAlipiev commented on #87
Did you check the debug output? this is often because of certificate issue

[2022-02-10 03:04] EmilAlipiev commented on #138
Thats a good issue. I was just about to create a new issue I was getting related to this. Probably I can ask directly here.
When I set my app targetin 6.5 and my target Watch has 5.5 installed. I am getting the error message below

<img width="286" alt="image" src="https://user-images.githubusercontent.com/10422347/153329084-692cc845-d86d-4c6b-8225-90d925821974.png">

I am not exactly sure how to

[2022-02-10 03:06] EmilAlipiev commented on #138
One last question to clarify what you wrote, so the  `api-version` is basically `minimum version`, not the target version or compile version like on android? I dont have any benefits if i set it 6 or 6.5? This is bit confusing though

[2022-02-10 03:39] EmilAlipiev commented on #87
I have just got this error message suddenly in the middle of debugging with VS2022 and whatever i did i couldn't get fix it. But when I start with VS2019, it works fine.

[2022-02-10 04:18] WonyoungChoi commented on #138
@EmilAlipiev The meaning of `api-version` of `tizen-manifest.xml` is the minimum Tizen platform version in which the app can be installed. Please check the `tizen-manifest.xml` first.  The VS error message occurs when the `platform_version` value of `sdb capability` result is lower than `api-version` value of `tizen-manifest.xml` file. Compiling version is determined by the `TargetFramework` of `.

[2022-02-11 15:15] sturlath opened #141 "Will Tizen Maui and BlazorWebView work together?"
Hi am struggling how to start creating my new mobile and Tv app. I want to use .net Maui and will start with the mobile app and then when you are ready I´ll implement that part.

**But** now I have a question before I start: Does Tizen.net and [BlazorWebView](https://egvijayanand.in/2021/11/13/net-maui-blazor/) play together?

That is could I program my app in BlazorWebView and then use Tizen.net

[2022-02-21 05:41] #138 closed

[2022-02-21 06:11] rookiejava commented on #141
Hi @sturlath! Thank you for reaching out.

Definitely yes! Since Tizen 4.0, Tizen platform support .NET and Xamarin.Forms app as a first-class citizen.
As for .NET MAUI (including Blazor web view), we are developing a Tizen backend implementation through continuous collaboration with Microsoft .NET MAUI Team. Please refer to the PR below for detailed development status.
https://github.com/dotnet/m

[2022-04-19 15:09] #125 closed

[2022-04-26 00:03] rookiejava commented on #141
Tizen backend PR on maui is merged last week. Let's enjoy!.

[2022-04-26 00:03] #141 closed

[2022-05-04 13:26] egvijayanand opened #159 "Having issues in installing Tizen workload from within Visual Studio 2022 when both .NET 7 and .NET 6 Preview are installed on the same machine"
Having issues in installing Tizen workload from within Visual Studio 2022 when both .NET 7 and .NET 6 Preview are installed on the same machine.

Whereas switching to CLI mode (PowerShell) with a global.json file pointing to .NET 6 SDK allows installing the workload without any issues.

The VS extension should also detect the presence of .NET 6 and proceed with the installation from within IDE its

[2022-05-09 02:21] sung-su commented on #159
@Egvijayanand
It seems that you need to run VS with admin rights to install the Tizen workload.
Please check below page.
https://github.com/Samsung/Tizen.NET/wiki/Trouble-Shooting
After this, if you still have a problem, please share more detailed information for reproduction.

[2022-05-09 03:40] egvijayanand commented on #159
Hi @sung-su,

Since I've already installed the Tizen workload via PowerShell CLI from a folder context with the below global.json command pointing to .NET 6.

[code]

So am unable to verify the resolution provided in the above link.

Regards,
Vijay Anand E G

[2022-05-09 05:45] sung-su commented on #159
@egvijayanand
I understood now.
As you say, it seems that consideration of the `.NET 7` is needed.
We will refer your good opinion to the next development.

[2022-05-15 12:27] xperiandri opened #164 "[OptionsPage] Impossible to see whole Tizen/Tools page with enlarged Environment font"
Having enlarged Environment font (DPI scale 250%)

![image](https://user-images.githubusercontent.com/2365592/168472834-2106aa06-ea1d-439f-8890-69853f84c99f.png)

because of constrained options control size the bottom of `Tizen\Tools` page is not visible

![image](https://user-images.githubusercontent.com/2365592/168472791-665c3e1f-ea83-4503-8ae1-48c5db79742a.png)

Fix the page layout, please

[2022-05-15 15:51] xperiandri opened #165 "[Workload] samsung.tizen.sdk.msi.x64::7.0.303 is not found in NuGet feeds https://api.nuget.org/v3/index.json"
`samsung.tizen.sdk.msi.x64::7.0.303 is not found in NuGet feeds https://api.nuget.org/v3/index.json;C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\".`

that is what I get after

`Invoke-WebRequest 'https://raw.githubusercontent.com/Samsung/Tizen.NET/main/workload/scripts/workload-install.ps1' -OutFile 'workload-install.ps1';`

`.\workload-install.ps1`

[2022-05-15 17:00] xperiandri opened #166 "[Manifest] requires to set `version` and `package`/`appid` while it is already specified in common project file"
According to Visual Studio 2022 17.3 Preview 1.0 template Tizen manifest looks like this
[code]
while Android manifest and plist files no longer contain any information like `package="com.companyname.MauiApp"`, `appid="com.companyname.MauiApp"`, `<label>MauiApp</label>`, `<icon>appicon.xhigh.png</icon>`, `version="1.0.0"` because csproj file already contains them
[code]

where the icon is automati

[2022-05-16 02:41] JoonghyunCho commented on #164
@sangwook96-lee Please take a look on this situation and give some feedback. Thanks!

[2022-05-16 02:53] JoonghyunCho commented on #165
Following is the current installation flow on my side, and can't reproduce the not found error you said.
Could you remove `C:\Program Files\dotnet\sdk-manifests\6.0.300\samsung.net.sdk.tizen` folder and try re-install again?
More detail information will help!
Thank!

[code]

[2022-05-16 09:38] xperiandri opened #167 "[Uno Platform] support"
[Uno Platform](https://github.com/unoplatform/uno/) already had the support of Tizen 5 on .NET 5.
It would be nice if you put some effort into bringing Tizen on .NET 6 within a single .NET 6 Uno Platform project to make it happen faster.

[2022-05-16 10:37] xperiandri commented on #165
This is how it starts on my PC
[code]

[2022-05-16 10:38] xperiandri commented on #165
Maybe you have some additional NuGet source?

[2022-05-16 10:40] xperiandri commented on #165
Ah, finally it works
[code]

[2022-05-16 10:40] #165 closed

[2022-05-16 13:51] MartinZikmund commented on #167
Just to add to this - we had support, but some things were not stabilized too well yet - for example input. We would love to have first-class Tizen support however 🙂 .

[2022-05-17 06:25] JoonghyunCho commented on #166
Thanks for your great suggestions :)
`icon` is technically not required on the template because it will be regenerated at build time.
Other information like application title and id are still required because they don't sync with those on csproj now. However, in the point of MAUI's single project philosophy, it is definitely worth considering what will be the best for developer's experience.
I wil

[2022-05-17 06:54] JoonghyunCho commented on #167
@xperiandri Thanks for your opinion and interest on Tizen!
@MartinZikmund Thanks for your hospitality :)
Now we are focusing all our effort to get Tizen released successfully to the world with MAUI. We will then have several more big changes in the internal Tizen backends.
Hopefully, at that moment, Tizen have more room to do something more.

[2022-05-17 06:54] #167 closed

[2022-05-17 06:57] JoonghyunCho commented on #165
@xperiandri Great 😄

[2022-06-03 13:27] gopi-chand opened #177 "are appium support TV Platform"
we are looking for Samsung TV device UI automation so are current appium framework  support for TV platform. if not when can we expect the support?. Thanks

[2022-06-07 02:14] shyunMin commented on #177
Unfortunately, Appium is not yet supported on Samsung TV due to security policies.

https://developer.samsung.com/tizen/Smart-TV/FAQ/Smart-TV/Known-issue-2018.html

[2022-06-07 04:20] vasanthraj-git opened #178 "How to Automate the application in Tizen OS on TV"
hi .,
  We are planning to automate the APplication in Tizen OS , we want to know how we can proceed for the same ?
1) is Python supported on Tizen Studio if not which is the other language we need to pick
2) our intention is to test on the device(TV) itself , do we have any commands just like ADB in android .

[2022-06-17 06:12] #159 closed

[2022-06-18 21:46] egvijayanand opened #181 "How to install Tizen.NET SDK in a CI environment that doesn't have VS2022 installed in it"
Trying to do some automation on the build process (through GitHub Actions) for a .NET MAUI library. But could not able to find an automated procedure to install the Tizen.NET SDK in a CI environment that doesn't have VS2022 installed in it.

Kindly provide the steps to achieve the same.

[2022-06-19 15:46] egvijayanand commented on #181
Expecting a command like below (similar to that of MAUI).

If necessary, additional package source(s) can be passed as input via `--source` parameter.

[code]

[2022-06-19 23:09] rookiejava commented on #181
Refer to below `build.yml` file.

https://github.com/Samsung/Tizen.TV.UIControls/blob/f2e356ff96b97ad685284292885c49179d1bf5e8/.github/workflows/build.yml#L1-L34

[2022-06-20 01:24] #177 closed

[2022-06-20 19:55] egvijayanand commented on #181
Thanks for the details @rookiejava

Will check and update.

[2022-06-22 01:07] #181 closed

[2022-06-24 16:28] mattleibow opened #182 "Unable to build a net6.0-tizen TFM on .NET 7"
We are doing this work still, and so far we have 4 PRs:

1. Make the templates support --framework net6.0
   [https://github.com/dotnet/maui/pull/8282](https://github.com/dotnet/maui/pull/8282)
2. Make AutoImport.props not conflict:
   https://github.com/dotnet/maui/pull/8204
3. Make the net6.0 templates versioned to net6 so that net7 can be side-by-side
   https://github.com/dotnet/maui/pull/7430

[2022-06-27 03:46] sangwook96 commented on #164
Hi, @xperiandri , @JoonghyunCho
Sorry for missing it and I will check it soon.

[2022-06-27 19:21] xperiandri commented on #164
It would be nice if you fix that using `TableLayout` panel to make layout work in all circumstances

[2022-06-28 06:10] JoonghyunCho commented on #182
Thanks for the detail information and scenarios!
I've been testing those scenarios and found the followings work somehow.
- net6 sdk and net6 tfm
- net7 sdk and net7 tfm
However,  I have trouble testing `net7 sdk and net6 tfm`  case with the following error case. (sorry for some Koreans in the log)
I guess this will be the same in other platforms. Can you share how you test this case?
[code]

[2022-06-28 08:10] JoonghyunCho commented on #182
Working on it 😄

[2022-06-29 08:17] JoonghyunCho commented on #182
Done updating .NET7.0 workload to build net6.0-tizen TFM and [released](https://github.com/Samsung/Tizen.NET/releases/tag/v7.0.100-preview.6-net7.0-sr1).

[2022-06-29 11:57] veikkoeeva opened #185 "Not possible to (un)install Tizen VSIX due to debugger"
I uninstalled Tizen extension in Visual Studio 2022 (VS) and then tried to re-install it. First time opening VS the Visual Studio Tools for Tizen was not present. I closed VS and re-opened it and found the extension was on disabled state. Upon trying to re-enable it I received the following message

![kuva](https://user-images.githubusercontent.com/5158694/176429982-69480c30-4c3e-4856-a402-ad9c737

[2022-06-30 02:09] JoonghyunCho commented on #185
@sangwook96-lee Please take a look.

[2022-06-30 02:14] JoonghyunCho commented on #185
@veikkoeeva If the Tizen workload install proceeds and it's done with the install success log at the end like "Done installing Tizen workload..." , the workload is good to go with 404 error. You can try `dotnet workload list` in the command line to make sure if `tizen` is installed.

[2022-06-30 02:15] #182 closed

[2022-06-30 02:18] sangwook96 commented on #185
@veikkoeeva,
Hi
Thanks, and could you follow the below steps?
1. Download the vsix from https://marketplace.visualstudio.com/items?itemName=tizen.VSToolsTizen2022
2. Unzip it to temp folder
3. cd temp
4. See the Tizen.MIDebugPackage.vsix
5. Install Tizen.MIDebugPackage.vsix manually
6. Closed VS and re-opened it and found the extension was on disabled state. **Upon trying to re-enable it**

Thanks

[2022-06-30 02:20] JoonghyunCho commented on #178
Like it is mentioned on https://github.com/Samsung/Tizen.NET/issues/177, app automation on TV is not supported due to their security policy.
Tizen has `sdb` which is just like adb in Android. `sdb` in included in the baseline Tizen sdk(https://developer.samsung.com/tizen/blog/en-us/2019/01/16/install-tizen-baseline-sdk).

[2022-06-30 02:20] #178 closed

[2022-06-30 02:25] JoonghyunCho commented on #185
@veikkoeeva Debug Maui Tizen application now has an issue on Visual Studio Preview 2022. SDK team is working on to enable it. Sorry for the inconvenience.

[2022-06-30 19:55] veikkoeeva commented on #185
@sangwook96 I was able to move forwards with your explicit instruction to manually install the debugging extension. But not quit there. Now when I try to debug the solution in Tizen, I receive

2>Deployment of the application to the target device failed.

Indeed, the file does not exist. Should it be created in the build step?

Here `MauiWebView` is the name of the application, created using the V

[2022-07-12 19:37] veikkoeeva opened #188 "Visual Studio 2022 version 17.3.0 Preview 3.0 breaks Maui Tizen builds"
It may be the Microsoft repo is the correct one to report this, please do redirect if so. I updated previous latest Visual Studio to [Visual Studio 2022 version 17.3.0 Preview 3.0](https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-notes-preview#17.3.0-pre.3.0) and it broke Maui builds giving the following symptoms:

![kuva](https://user-images.githubusercontent.com/5158694/178578

[2022-07-13 04:10] sung-su commented on #188
Hello,
Could you share your `dotnet --version` and `dotnet workload list` results on your machine?
That would be very helpful in reproducing the problem.

[2022-07-13 05:33] veikkoeeva commented on #188
Yes.

| Installed Workload Ids | Manifest Version | Installation Source |
| - | - | - |
| maui-tizen |                 6.0.408/6.0.300          |        SDK 6.0.400 |
| tizen           |                    7.0.400-preview.1.0/6.0.400   |   SDK 6.0.400 |
| android       |              32.0.424/6.0.300          |       VS 17.3.32708.82 |
| maui-windows |               6.0.408/6.0.300     |

[2022-07-13 06:07] veikkoeeva commented on #188
I noticed again one odd thing with this existing project.

![kuva](https://user-images.githubusercontent.com/5158694/178661185-0361e282-d392-4840-a755-bcdca4d76944.png)

But if I add `global.json` to the previous project with

`{
  "sdk": {
    "version": "6.0",
	"rollForward": "latestFeature",
	"allowPrerelease": true
  }
}`

I can compile also the Tizen workload. But I can't Debug any targets, n

[2022-07-19 05:55] sung-su commented on #188
I'm glad your workload isn't a problem.
Some kind of debugging issues, similar to what you mentioned, will be fixed and applied the next version `vs-tools-for-tizen`.
I will try to update the related information in the path below.
https://github.com/Samsung/Tizen.NET/wiki/Known-Issues

[2022-07-19 06:15] #188 closed

[2022-07-19 11:21] veikkoeeva commented on #188
@sung-su It may be this started since the debugger process holds locks on resources (e.g. files) even if VS is closed. Then something may go wrong in a way or another during updates. I'm not sure, but took a quick stab at it when I noticed this.

[2022-08-18 03:29] talebi opened #198 "Unable to Debug HelloMaui sample using either VS or VS preview"
debugger fails to start using VS 17.4.0 Preview 1 with below error:
[code]

Using latest VS having issues as posted before:
https://github.com/dotnet/maui/issues/8035

Is there anyway to debug MAUI Tizen apps currently?

[2022-08-18 04:45] JoonghyunCho commented on #166
Share app manifest items you mentioned are implemented and now released on the latest maui tizen.
Thanks for your interest on Tizen :)

[2022-08-18 04:45] #166 closed

[2022-08-18 04:45] JoonghyunCho commented on #164
@sangwook96 any updates on this?

[2022-08-18 05:56] JoonghyunCho commented on #185
@veikkoeeva Debugging Maui (net6.0-tizen) app now has an issue on Visual Studio 2022 and I was told the recipe issue will be fixed on the next VS release. I expect those whole debugging issue would be fix probably after this Oct? or end of year. @sangwook96 Please update if I am wrong or there is an update.

[2022-08-18 05:58] JoonghyunCho commented on #198
Yes, Debugging Tizen app now has an issue on Visual Studio and probably also on VS Tools for Tizen extensions.
@sangwook96-lee Is there a way to debug MAUI Tizen app currently?

[2022-09-23 17:23] tsjdev-apps opened #204 "Unable to run .NET MAUI sample application on emulator"
I've installed first `Tizen Studio` and also the extension of Tizen for Visual Studio. In the options I've configured everything and installed the workload. Now I'm booting the Emulator `M-6.5-x86` and I'm trying to build the application via the Terminal with the following command: `dotnet build -t:Run -f net6.0-tizen`

The app is than available on the emulator and I can see the splashscreen but t

[2022-09-26 00:43] rookiejava commented on #204
Thank you for reaching out. As mentioned in the [known issues page](https://github.com/Samsung/Tizen.NET/wiki/Known-Issues), tizen emulator supporting .NET 6 and .NET MAUI has not yet been officially released. It is expected to be avaulable when Tizen 7.0 is announced next month. Please wait until then. Thanks!

[2022-10-18 05:36] sangwook96 commented on #164
Hi.
Okay, we will check it and we will inform it again

[2022-10-24 15:07] #198 closed

[2022-10-24 15:07] #185 closed

[2022-11-14 10:36] rookiejava commented on #204
Tizen 7.0 emulator is now available. Thank you for your patience! ❤️

Please download and install Tizen Studio 5.0 [here](https://developer.tizen.org/development/tizen-studio/download).

[2022-11-14 10:36] #204 closed

[2022-11-20 03:27] talebi opened #213 "Where is TV Extensions-7.0?"
I cannot find the latest tv extensions v7.0 in the package manager. I can see mobile/wearable 7.0

Has it been released yet? if not what is the ETA?

[2022-11-21 06:25] rookiejava commented on #213
Hi @talebi,
Yes. The TV Extension 7.0 hasn't been released yet. We will update you as soon as the schedule is confirmed.
Thanks,

[2022-11-30 16:54] DIMANRUS opened #217 "Tizen Workload failed install"
Hello. If I want to install any workload, it always fails to install Tizen and nothing is installed. This has been observed since .NET 7. If you need more information, I am ready to provide.
![image](https://user-images.githubusercontent.com/41239551/204859481-410665ee-bd05-4c95-bc51-502ea8245a3b.png)

[2022-11-30 17:13] DIMANRUS opened #218 "Tizen Extension for Visual Studio. When the IDE starts, scripts are run always"
Hello. After installing the Tizen extension for Visual Studio, a message always appears when VS is launched about running three scripts as an administrator (screenshots are attached). One of them is workload-install.ps (in files.zip) , which apparently tries to install Tizen Workload. This is very annoying, why is this done at every startup? And if you open Visual Studio completely, then you can s